<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" verbose="1" outputDirectory="testng-report">
    <test name="CucumberTest">
        <classes>
            <class name="runner.TestRunner" />  <!-- Your TestNG runner class -->
        </classes>
    </test>
</suite>
